<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Games</title>
</head>
<body>
    <h3>Tic Tac Toe</h3>
        <a href="/ttt">create board</a>

        <h3>Rock Paper Scissors</h3>
        <a href="/rpsPlayerOne">start</a>

        <form action ="winner" method="post">
            <label>PlayerOne wins</label>
            <input type="submit" name="winner" value= "<%=userData.userOne%>">

            <label>PlayerTwo wins</label>
            <input type="submit" name="winner" value= "<%=userData.userTwo%>">
        </form>

      
</body>
</html>