<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/base.css">
    <title>Games</title>
</head>
<body>
    <h2>Pick a Game!</h2><br>
    <h3>Tic Tac Toe</h3>
        <!--<a href="/ttt">create board</a>-->

    <form action ="ttt" method="post">
        <input type="submit" name="ttt" value="Create Board">
    </form>
        <h3>Rock Paper Scissors</h3>
        <!--<a href="/rpsPlayerOne">start</a>-->

        <form action ="rpsPlayerOne" method="post">
            <input type="hidden" name="userOne" value="<%= userData.userOne %>">
            <input type="hidden" name="userTwo" value="<%= userData.userTwo %>">
            <input type="submit" name="rps" value="Start">
        </form>
      
</body>
</html>