<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/base.css">
    <!-- <link id = "icon" rel = "icon" type = "image/png" href = "/icecream.png"> -->
    <title>J&S</title>
</head>
<body>
    <h1>J&S Games:</h1>
    <h2>Choose a game, or view recent match history below</h2>
    <div>
        <div>
            <form action="games" method="post">
                <label for="userid">Enter Player 1 Username</label><br>
                <input type="text" name="userOne" value=""><br>
                <label for="userid">Enter Player 2 Username</label><br>
                <input type="text" name="userTwo" value=""><br> 
                <input type="submit" value="Submit">
              </form> 
        </div>
        <h3>Tic Tac Toe</h3>
        <a href="/ttt">create board</a>

        <h3>Rock Paper Scissors</h3>
        <a href="/rpsPlayerOne">start</a>

    </div>



    
</body>
</html>