<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/base.css">
    <title>Document</title>
</head>
<body>
    <h1>Player Two <%=userData.userTwo.name %></h1>
    
    <form action = "winner" method = "post">
        <input type="hidden" name="userOne" value="<%= userData.userOne.name %>">
        <input type="hidden" name="userOneChoice" value="<%= userData.userOne.choice %>">
        <input type="hidden" name="userTwo" value="<%= userData.userTwo.name %>">

        <label for="choice">Select an option:</label><br>
        <label for="rock">Rock</label>
        <input type="radio" name="choice" value="rock"><br>

        <label for="paper">Paper</label>
        <input type="radio" name="choice" value="paper"><br>

        <label for="scissors">Scissors</label>
        <input type="radio" name="choice" value="scissors"><br>

        <input type="submit" value="Submit">
    </form>
    
    <!--<a href="/rpsPlayerOne">End Turn</a>-->
    <a href="/">home</a>
    
</body>
</html>