<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/base.css">
    <title>Document</title>
</head>
<body>
    <form action = "winner" method = "get">

    <h1>Player Two</h1>
    <input type="submit" value="Rock"><br>
    <input type="submit" value="Paper"><br>
    <input type="submit" value="Scissors"><br>

    
    <!--<a href="/rpsPlayerOne">End Turn</a>-->
    <a href="/">home</a>
    </form>
</body>
</html>