<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "scripts/client-validation.js" defer></script>
    <link rel = "stylesheet" href = "css/rps.css">
    <title>Document</title>
</head>
<body>
    <div id="game-container">

   
        <h1>Player Two: <%=userData.userTwo.name%></h1>
        <!--Some kind of form or button that submits rock, paper, or scissors-->
        <form action = "winner" method = "post" id = "playerTwo-val">
            <input type="hidden" name="userOne" value="<%= userData.userOne.name %>">
            <input type="hidden" name="userOneChoice" value="<%= userData.userOne.choice %>">
            <input type="hidden" name="userTwo" value="<%= userData.userTwo.name %>">
            
            
            
            <button type="submit" name="choice" value="rock">
                <img src="rock.png" alt="rock" class="rps-button">
            </button>

            <button type="submit" name="choice" value="paper">
                <img src="paper.png" alt="paper" class="rps-button">
            </button>

            <button type="submit" name="choice" value="scissors">
                <img src="scissors.png" alt="scissors" class="rps-button">
            </button>
    
        </form>
    </div>    
</body>
</html>