<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scores</title>
</head>
<body>
    <h1>High Scores!</h1>
    <div>
        <ol>
            <% for (let i=0; i < scores.length; i++) { %>
                <li><%= scores[i].userid %> <%= scores[i].score %></li>
                
            <% } %>
        </ol>
        <a href="/">home</a>
    </div>
</body>
</html>