<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/tictactoe.css">
    <title>Document</title>
</head>
<body>
    <h1>Tic Tac Toe</h1>
    <h2>Coming soon!</h2>

    <!--Board and choice button. some kind of grid-->
    <div id = first></div>
    <div id = second></div>
    <div id = third></div>
    <div id = fourth></div>
    <div id = fifth></div>
    <div id = sixth></div>
    <div id = seventh></div>
    <div id = eighth></div>
    <div id = ninth></div>


    
    <form action ="/" method="get">
        <input type="submit" name="ttt" value="Home">
    </form>
</body>
</html>