<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "css/tictactoe.css">
    <script src = "scripts/tictac.js" defer></script>
    <title>Document</title>
</head>
<body>
    <h1>Tic Tac Toe</h1>

    <!--Board and choice button. some kind of grid-->
    <span>
    <section id="board">
        <div id="aOne"><h1>1</h1></div>
        <div id="aTwo"><h1>2</h1></div>
        <div id="aThree"><h1>3</h1></div>
        <div id="bOne"><h1>4</h1></div>
        <div id="bTwo"><h1>5</h1></div>
        <div id="bThree"><h1>6</h1></div>
        <div id="cOne"><h1>7</h1></div>
        <div id="cTwo"><h1>8</h1></div>
        <div id="cThree"><h1>9</h1></div>
    </section>
    </span>

    <button id = "user">Enter your answer</button>
    <form action ="/" method="get">
        <input type="submit" name="ttt" value="Home">
    </form>
</body>
</html>