html, body {
    height: 1000px;
    background-color: black;
  }

#game-container{
    background-image:url("../rpsBackground.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    height: 1000px;
}

.rps-button{
    width: 60px;
    height: 60px;
}
h1{
    padding-top: 130px;
}

form{
    padding-top: 160px;
}
img{
    height: 100%;
}