html, body {
    height: 100%;
    background-color: black;
  }

#game-container{
    background-image:url("../rpsBackground.png") ;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
    height: 1000px;
}

.rps-button{
    width: 60px;
}
h1{
    padding-top: 5.5%;
}

form{
    padding-top: 180px;
}
