body{
    text-align: center;
    background-image:url("../finalSpaceBackground.jpg");
}
h1,h2,h3,label{
    color: white;
    font-weight: 900;
}

div{
    border: 1px solid white;
    width: 230px;
    height: 230px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.hover{
    border-color: black;
}
.x{
    background-image:url("../x.jpg");
    padding:auto;
}
.circle{
    background-image:url("../circle.jpg");
}
