body{
    text-align: center;
    background-image:url("../finalSpaceBackground.jpg");
}
h1,h2,h3,label{
    color: white;
    font-size: 80px;
}

#uTwo{
    display: none;
}
span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#board{
    display: grid;
    grid-template-columns: 230px 230px 230px;
    grid-template-rows: 230px 230px 230px;
    margin-left: auto;
    margin-right: auto;
}

div{
    border: 1px solid white;
    width: 230px;
    height: 230px;
    display: flex; 
    align-items: center;
    justify-content: center;
}

.hover{
    border-color: black;
}
#x{
    background-image:url("../x.jpg");
    padding:auto;
}

#circle{
    background-image:url("../circle.png");
    background-size: contain;
}

@media screen and (max-width: 600px){
    #board{
        display: grid;
        grid-template-columns: 130px 130px 130px;
        grid-template-rows: 130px 130px 130px;
        margin-left: auto;
        margin-right: auto;
    }
    
    div{
        border: 1px solid white;
        width: 130px;
        height: 130px;
        display: flex; 
        align-items: center;
        justify-content: center;
    }
    #x{
        background-image:url("../x.jpg");
        background-size: contain;
        padding:auto;
    }
    
    #circle{
        background-image:url("../redCircle.png");
        background-size: contain;
    }
}